:root {
  color-scheme: dark;
  color: #1e1e1e;
  font-size: 62.5%; /* 💲 1rem = 10px */
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
  line-height: 1.5; /* 1. Correct the line height in all browsers. */

  --8: 0.8rem;
  --16: 1.6rem;
  --24: 2.4rem;

  --dark: #1e1e1e;
  --grey: #c5c5c5;
  --green: #20c05f;
  --green-1: #daebdf;
  --green-9: #00575a;
  --indigo: #25084b;
  --neon: linear-gradient(70deg, #3b005f, #4a00d8);
  --neod: linear-gradient(#210036, #240068);
}

::selection {
  color: black;
  background: pink;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* responsive images/videos */
img {
  display: block;
  max-width: 100%;
  user-select: none;
}

html {
  background: var(--grey);
  padding: 1.6rem;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  min-height: 100vh;
  width: min(64ch, calc(100% - 3.2rem)); /* width char -rem */
  margin: clamp(1.6rem, 6vw, 8rem) auto; /* responsive center */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--24);
}

header,
nav,
footer {
  display: flex;
  align-items: flex-end;
  gap: var(--24);
}

nav,
footer {
  flex-wrap: wrap;
}

footer {
  margin: 8rem 0 0;
}

h1,
h2,
h3 {
  font-size: var(--24);
}

.title {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

li,
p {
  margin: 2.4rem 0;
}

a {
  text-decoration: none;
}

li > img,
h3 > img {
  display: inline;
  height: 2.4rem;
  margin-right: 0.6rem;
  vertical-align: text-bottom;
}

span {
  white-space: nowrap;
  line-height: 1.2;
  border-radius: 0.6rem;
  padding: 0 0.4rem;
  color: var(--green-9);
  background: var(--green-1);
}

.home {
  justify-content: flex-end;
}

.photo {
  width: clamp(4.8rem, 8rem, 12rem);
  object-fit: cover;
  mix-blend-mode: luminosity;
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;
}
.photo:hover {
  filter: brightness(105%);
  mix-blend-mode: normal;
  transform: translateY(-0.2rem);
}

:disabled {
  pointer-events: none;
}

button {
  border: 0;
  border-radius: 0.8rem;
  color: #242424;
  background: #d7d7d7;
  cursor: pointer;
  padding: 0rem 0.6rem;
  transition: filter 0.3s ease, transform 0.3s ease;
}
button:hover,
:focus {
  filter: brightness(105%);
  transform: translateY(-0.2rem);
}
.ua {
  width: 1.6rem;
  height: 2.4rem;
  background: url(./img/ua.png) no-repeat center / cover;
}

.email,
.tg {
  background: var(--dark);
  color: var(--grey);
}

.telegram {
  background: #d2e1f4;
  color: #006aff;
}

.dribbble {
  background: #e3dede;
  color: #ea4c89;
}

.grid {
  column-count: 2;
  column-gap: var(--24);
  margin: 1.6rem -1.6rem;
}

.grid > * {
  break-inside: avoid;
  margin-bottom: var(--24);
}

.row {
  display: flex;
  align-items: start;
}

.png {
  max-width: 40%;
  margin: 1.6rem 3.2rem 1.6rem -1.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  gap: 0.8rem;
  border-radius: 2.4rem;
  transition: filter 0.3s ease, transform 0.3s ease;
  position: relative;
}

.card:hover {
  filter: brightness(105%) saturate(110%);
  transform: translateY(-0.2rem);
}

.tags {
  gap: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

/*  SHOP  ----------------------------*/

.shop {
  color: black;
  background: var(--grey);
}

.shop.card {
  background: #d3d3d3;
}

.shop span,
.shop.card span {
  color: #1c6fff;
  background: #dde6ff;
}

/*  MAPS  ----------------------------*/

.maps {
  color: #83b4d1;
  background: #142144;
}

.maps.card {
  background: linear-gradient(70deg, #141e30, #00413b);
}

.maps button {
  color: #24afff;
  background-color: #223569;
}

.maps span,
.maps.card span {
  color: #21bfa0;
  background: #004846;
}

/*  ui  ----------------------------*/
html.ui {
  background: var(--neod);
}
.ui {
  color: #8da8ff;
  background: var(--neon);
}
.ui .title {
  color: #762dff;
}

.ui button {
  color: #66babe;
  background-color: #3f0f96;
}

.ui span,
.ui.card span {
  color: #ff7700;
  background-color: #762dff79;
}

/*  FF  ----------------------------*/

.ff {
  color: rebeccapurple;
  background: linear-gradient(70deg, #e3b3d4, #faaca8);
}
.ff span,
.ff.card span {
  color: #de82c1;
  background: #ffc6dd;
}

.preview {
  display: flex; /* Use flexbox for horizontal layout */
  gap: 2.4rem;
  align-items: center; /* Vertically align images */
  justify-content: space-between; /* Distribute space evenly between images */
}

span.red {
  color: #e30000;
  background-color: #fecae3;
  mix-blend-mode: hard-light;
}

@media (max-width: 560px) {
  html {
    padding: 0;
  }

  .grid {
    columns: 1;
    margin: 1.6rem auto;
  }
  .png {
    max-width: 80%;
    margin: 2.4rem auto;
  }
  .row {
    flex-direction: column;
  }
}
