/* HTML5 Imports template vs jQuerry */

html.strm {
  background: var(--neod);
}
html.shop {
  background: var(--cement);
}
html.maps {
  background: #142144;
}

body {
  width: clamp(200px, 90%, 720px);
  margin: clamp(16px, 4vw, 80px) auto;
  /* Center content */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  /* Center horizontally */
  justify-content: stretch;
  /* Center vertically */
  gap: 48px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
  justify-content: flex-start;
}

section,
main {
  flex: 1;
  gap: var(---24);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  min-width: 240px;
}

nav {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}

.home {
  justify-content: flex-end;
}

footer {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 160px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

/* Img  ======================================= */
.photo {
  max-width: 80px;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  mix-blend-mode: luminosity;
  min-width: 64px;
  cursor: pointer;
}

.photo:hover {
  mix-blend-mode: normal;
}

img {
  height: 100%;
  width: 100%;
}

img.icon {
  position: relative;
  height: 20px;
  width: auto;
  object-fit: cover;
}

.📱 {
  max-width: 240px;
}

@media (max-width: 768px) {
  .📱 {
    width: 100%;
  }
}

.preview {
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

/* Buttons ======================================= */

button {
  border: 0;
  border-radius: 8px;
  background-color: var(--grey-9);
  color: var(--cement);
  font-size: var(---16);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--body);
  cursor: pointer;
  padding: 0 6px;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  color: var(--green-0);
  mix-blend-mode: hard-light;
}

.ua {
  width: 16px;
  height: 24px;
  background: url(./img/ua.png) no-repeat center / cover;
}

footer button:not(.ua) {
  color: var(--green-9);
  background: var(--green-1);
  opacity: 0.7;
}

/* Text ======================================= */

p {
  margin: 0;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(---16);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--body);
  text-align: left;
}

li {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  align-items: flex-start;
  gap: 8px;
  padding: 0;
  align-self: stretch;
}

.title {
  flex: 1;
  flex-direction: row;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--body);
  font-size: var(---24);
  margin: 0;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: var(--shadow);
  filter: brightness(105%);
}

.card:hover {
  filter: brightness(110%) saturate(120%);
}

.card img {
  border-radius: 8px;
}

.tags {
  display: flex;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.shop {
  color: black;
  background: var(--gregr);
}
.shop span,
.card.shop span {
  color: #1c6fff;
  background: #d3deff;
}

.maps {
  color: #83b4d1;
  background: var(--map);
}
.maps span,
.card.maps span {
  color: #21bfa0;
  background: #004846;
}

.strm {
  color: #9b8dff;
  background: var(--neony);
}
.strm .title {
  color: #762dff;
}
.strm span,
.card.strm span {
  color: #ff7700;
  background: #762dff79;
}

.ff {
  color: var(--red-9);
  background: var(--pinky);
}
.ff span,
.card.ff span {
  color: #de82c1;
  background: #ffc6dd;
}

span {
  border-radius: 6px;
  color: var(--green-9);
  background: var(--green-1);
  padding: 0 4px;
  margin: 0 4 0 -4px;
}

span.red {
  color: #e30000;
  background-color: #fecae3;
  mix-blend-mode: hard-light;
}
